<div id="summary">
  <ul>
    <li><%= project_due_date(project) %></li>
    <li><span id="tasks-completed"><%= pluralize(project.tasks.complete.size, "task") %></span> completed</li>
    <li><span id="tasks-outstanding"><%= pluralize(project.tasks.to_do.size, "task") %></span> outstanding</li>
  </ul>
</div>