<%= link_to "New Project", new_project_path, data: { turbo_frame: "modal" }, class: "btn btn-success float-end" %>

<h1>Projects</h1>
<p>Showing <span id="total_projects"><%= pluralize(@projects.size, "project") %></span></p>

<div id="projects" class="mt-5">
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</div>