<div class="modal fade" tabindex="-1" data-controller="modal" data-action="turbo:frame-load->modal#open turbo:submit-end->modal#close" role="dialog" aria-labelledby="bootstrapModal" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
      <%= turbo_frame_tag "modal" %>
      </div>
    </div>
  </div>
</div>